@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    /* Background Color */
    --bg-purple: #732ef9;
    --bg-white: #fff;
    --bg-light-white: #f5f5f5;

    /* Text Color */
    --primary-font: "Poppins", sans-serif;
    --text-white: #fff;
    --text-black: #121212;
    --text-purple: #732ef9;
    --text-gray: #aaa;
    --text-dark-gray: #777;
}

body {
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    background: var(--bg-white);
    color: var(--text-black);
    overflow-x: hidden;
}



/* Custom CSS */
a,
a:hover {
    text-decoration: none;
}

p {
    margin: 0;
}

.btn-purple {
    background: var(--bg-purple) !important;
    border-color: var(--bg-purple) !important;
    padding: 13px 24px;
    font-size: 16px;
    font-weight: 500;
    color: #fff !important;
}

.btn-purple:hover {
    color: var(--text-purple) !important;
    background: transparent !important;
}



/* Navigation CSS */
#header .fixed-top {
    box-shadow: 0 2px 11px rgb(0 0 0 / 5%);
}

#header .navbar-nav .nav-item .nav-link {
    color: var(--text-black);
    padding: 8px 16px;
    text-align: center;
}

#header .navbar-nav .nav-item .nav-link:hover,
#header .navbar-nav .nav-item .nav-link.active {
    color: var(--text-purple);
}

#header .navbar-toggler-icon {
    width: unset;
    height: unset;
}

#header .navbar-toggler:focus {
    box-shadow: none;
}




/* Home CSS */
.home .home-banner-1,
.home .home-banner-2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% center;
    min-height: 650px;
    position: relative;
}

.home .home-banner-1 {
    background-image: url('../images/bg1.jpg');
}

.home .home-banner-2 {
    background-image: url('../images/bg2.jpeg');
}

.home .home-banner .home-banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-110%, -50%)
}

.home .home-banner .home-banner-text h1 {
    font-size: 96px;
}

.home .carousel-indicators [data-bs-target] {
    background-color: var(--bg-purple);
    width: 40px;
    height: 5px;
}

.home .carousel-control-next-icon,
.home .carousel-control-prev-icon {
    background: transparent;
}

.home .slider-icon {
    font-size: 48px;
    font-weight: 600;
    color: var(--text-purple);
}




/* Product css */
.products {
    padding-top: 140px;
}

.headline h2::before {
    content: '';
    width: 30%;
    height: 2px;
    background-color: var(--bg-purple);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.products a {
    text-decoration: none;
    color: var(--text-black);
}

.product-list .product-image img {
    transition: all 500ms ease-in-out;
}

.product-list .product-image .product-image-secondary {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.product-list .product-image:hover .product-image-secondary {
    opacity: 1;
}

.product-list .product-image .sale {
    background: var(--bg-purple);
    border-radius: 5px;
    color: var(--text-white);
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 25px;
    text-transform: uppercase;
    position: absolute;
    left: 16px;
    top: 19px;
    z-index: 9999;
}

.product-list .product-name h3 {
    font-size: 18px;
    color: var(--text-black);
    transition: all 0.3s ease 0ms;
}

.product-list .product-name h3:hover {
    color: var(--text-purple);
}

.product-list .product-name .amount {
    color: var(--text-purple);
    font-weight: 500;
}

.product-list .product-name .amount del {
    color: var(--text-dark-gray);
}

.product-list .product-name .ti-star {
    color: var(--text-gray);
}

.product-list .product-name .ti-star.active {
    color: var(--text-purple);
}

.product-list .product-name .add_to_Card {
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease 0s;
}

.product-list .product-name .add_to_Card:hover {
    color: var(--text-purple);
}



/* Special CSS */
.special {
    padding: 96px 0;
    background: var(--bg-light-white);
}

.special .countdown-container {
    padding-top: 70px;
}

.special .countdown-container p {
    color: var(--text-dark-gray);
    font-weight: 300;
    line-height: 30px;
}

.special .countdown-container .countdown-counter {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.special .countdown-container .countdown-counter li {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background: var(--bg-white);
    border-radius: 5px;
    padding: 32px 16px;
    width: 15%;
    margin: 0 5px;
}

.special .countdown-container .countdown-counter li span {
    font-weight: 500;
}

.special .countdown-container .countdown-price del {
    color: var(--text-gray);
    font-size: 16px;
}

.special .special-img span {
    background: var(--bg-purple);
    border-radius: 5px;
    color: var(--text-white);
    font-size: 13px;
    letter-spacing: 2px;
    line-height: 25px;
    padding: 2px 1px;
    text-transform: uppercase;
    position: absolute;
    left: 16px;
    top: 19px;
    z-index: 99;
}



/* Testimonial CSS */

.testimonial {
    padding: 80px 0 128px;
}

.testimonial .testimonial-wrapper {
    box-shadow: 0 0 9px 0 rgb(0 0 0 / 5%);
    background: var(--bg-white);
    margin: auto;
    padding: 16px 80px;
    border: 1px solid var(--bg-light-white);
    border-radius: 10px;
}

.testimonial .testimonial-wrapper img {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin: 20px auto;
    object-fit: cover;
    background-color: var(--bg-white);
    border: 1px solid var(--bg-light-white);
}

.testimonial .testimonial-wrapper span {
    color: var(--text-gray);
    font-size: 16px;
    text-transform: uppercase;
    margin: 16px 0;
    display: block;
}

.testimonial .testimonial-wrapper p {
    color: var(--text-gray);
    font-size: 14px;
    font-weight: 300;
}

.testimonial .carousel-indicators [data-bs-target] {
    background-color: var(--bg-purple);
    width: 40px;
    height: 5px;
}

.testimonial .carousel-control-next-icon,
.testimonial .carousel-control-prev-icon {
    background: transparent;
}

.testimonial .carousel-indicators {
    bottom: -48px;
}

.testimonial .slider-icon {
    font-size: 48px;
    font-weight: 600;
    color: var(--text-purple);
}

.testimonial .carousel-control-prev {
    left: -140px;
}

.testimonial .carousel-control-next {
    right: -140px;
}



/* Contact CSS */

.contact {
    padding: 64px 0;
    background-color: var(--bg-light-white);
}

.contact .info li p a {
    font-size: 16px;
    display: inline-block;
    margin: 12px 0;
    color: var(--text-black);
}

.contact .form-group {
    margin-bottom: 24px;
}

.contact .form-control {
    height: 60px;
    padding: 60px 19px;
    border: none;
    font-size: 16px;
    box-shadow: 0 19px 20px 0 rgb(0 0 0 / 12%);
}

.contact .textarea {
    width: 100%;
    border-radius: 4px;
    padding: 12px 19px;
    border: none;
    font-size: 16px;
    margin-top: 5px;
    box-shadow: 0 3px 20px 0 rgb(0 0 0 / 12%);
    ;
}

.contact .textarea:focus {
    outline: none;
    border: none;
}



/* Footer CSS */
.copyright {
    background: var(--bg-purple);
}

.copyright p,
.copyright a {
    color: var(--text-white);
}

/* Scroll Back To Top */
#scrollUp {
    position: fixed;
    right: 2%;
    bottom: 3%;
    height: 40px;
    width: 40px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    z-index: 500;
    display: none;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    background: var(--bg-purple);
}

#scrollUp span {
    line-height: 42px;
}

#scrollUp.scrollActive {
    display: block;
}


@media (max-width:1030px) {

    /* Home CSS */
    .home .home-banner-1,
    .home .home-banner-2 {
        background-position: 65% center;
        min-height: 550px;
    }

    .home .home-banner .home-banner-text {
        transform: translate(-80%, -50%);
    }

    /* Special CSS */
    .special .countdown-container .countdown-counter li {
        padding: 24px 16px;
    }
}


@media (max-width:991px) {

    /* Home CSS */
    .home .home-banner .home-banner-text {
        transform: translate(-66%, -50%)
    }

    /* Special CSS */
    .special .countdown-container {
        padding-top: 16px;
        padding-bottom: 80px;
    }

    /* Testimonial CSS */
    .testimonial .carousel-control-prev {
        left: -28px;
    }

    .testimonial .carousel-control-next {
        right: -28px;
    }
}




/* responsive css */

@media (max-width:767px) {

    /* Home CSS */
    .home .home-banner-1,
    .home .home-banner-2 {
        background-position: 50% center;
        min-height: 450px;
    }

    .home .home-banner .home-banner-text {
        text-align: center;
        width: 100%;
        transform: translate(-50%, -50%);
    }

    .home .home-banner .home-banner-text h1 {
        font-size: 48px;
    }

    .home .home-banner .home-banner-text h2 {
        font-size: 20px;
    }

    .home .home-banner .home-banner-text .btn-danger {
        padding: 8px 24px;
    }

    .home .slider-icon {
        font-size: 32px;
    }

    /* Product CSS */
    .products .up_to_content h2 {
        font-size: 12px;
    }

    /* Special CSS */
    .special {
        padding: 64px 0;
    }

    .special .countdown-container .countdown-counter li {
        padding: 16px;
        width: 20%;
    }

    /* Testimonial CSS */
    .testimonial .testimonial-wrapper {
        padding: 16px;
    }

    .testimonial .carousel-control-prev,
    .testimonial .carousel-control-next {
        display: none;
    }
}

@media (max-width:330px) {

    /* Home CSS */
    .home .home-banner .home-banner-text h2 {
        font-size: 16px;
    }

    /* Product CSS */
    .products .up_to_content h2 {
        font-size: 10px;
    }
}